<h1>DitBnB</h1>

<div *ngIf="!LoggedIn() && !registration">
  <form (ngSubmit)="Login($event)">
    <label> Username </label>
    <input name="username"  type="text">
    <label> Password </label>
    <input name="password" type="password">
    <button> Login </button>
  </form>
  <button routerLink="/register">Register</button>
</div>

<div *ngIf="LoggedIn() && !registration">
  <label> Welcome: {{GetUsername()}} !</label>
  <button> My Account </button>
  <button> Messages </button>
  <form (ngSubmit)="Logout($event)">
    <button> Logout </button>
  </form>
</div>

<router-outlet></router-outlet>
