h1{
  text-align: center;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #00B5DE;
  border-radius: 10px;
}

li {
  float: left;
  padding: 12px 20px;
}

.link:hover{
  background-color: #3DB992;
}


li a {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
}

.right{
  float: right;
  padding: 10px 20px;
}

#username{
  float:right;
}

button{
  width:100px;
  margin-right: 5px;
  border-radius:28px;
  cursor: pointer;
  outline:none
}

button:hover{
  background-color:#3DB992;
  color: white;
  border-color: white;
}

label{
  color: white;
}

input{
  width: 20%;
  margin-right: 5px;
}

label{
  width: 5%;
}

form{
  display: inline;
}

/* Wide screen (ex. desktop) */
@media screen and (min-width: 1300px) {
  #icon{
    cursor:pointer;
    float: left;
  }
  #menu {
    padding-top: 15px;
  }
}

/* Narrow screen (ex. mobile) */
@media screen and (max-width: 1300px) {
  #icon{
    cursor:pointer;
  }
  .logo{
    text-align: center;
  }
}

#menu{
  text-align: center;
  background-color:white;
  border-radius: 10px;
}

@media only screen and (max-width: 1100px){
  li{
    float: none;
    text-align: center;
  }

  .right{
    float: none;
  }

  form{
    display: inline-block;
    vertical-align: middle;
  }

  input{
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  #username{
    float:none;
    text-align: center;
  }
}
