<div class="logo">
  <img  src="../assets/logo.svg" alt="Placie" height="60" width="200" id="icon" (click)="GoToHomePage()"/>
</div>

<div id="menu" *ngIf="!registration">
  <ul>
    <li *ngIf="LoggedIn() && user.isAdmin" class ="link"><a routerLink="/administrator">Administrator Section</a></li>
    <li *ngIf="LoggedIn() && user.isHost" class ="link"><a routerLink="/host">Host Section</a></li>
    <li *ngIf="LoggedIn() && user.isTenant" class ="link"><a routerLink="/reservations">Tenant Section</a></li>
    <li *ngIf="LoggedIn()" class ="right"><button (click)="Logout($event)"> Logout </button></li>
    <li *ngIf="LoggedIn()" class ="right"><button routerLink="/messages">Messages</button></li>
    <li *ngIf="LoggedIn()" class ="right"><button routerLink="/editAccount"> My Account </button></li>
    <li *ngIf="LoggedIn()" id="username"><label>Welcome {{GetUsername()}}!</label></li>
    <li *ngIf="!LoggedIn()">
      <form (ngSubmit)="Login($event)">
        <label> Username </label>
        <input name="username"  type="text">
        <label> Password </label>
        <input name="password" type="password">
        <button> Login </button>
      </form>
    </li>
    <li *ngIf="!LoggedIn()" class="right"><button routerLink="/register">Register</button></li>
  </ul>
</div>

<router-outlet></router-outlet>
