h2,h3,h4{
  text-align: center;
}

.MainPhoto{
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
  padding: 10px;
}

.row {
  min-height: 120px;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  padding: 0 -8px;
  border: 1px solid black;
  margin-bottom: 10px;
  overflow: auto;
}
.row img {
  max-height: 100px;
  width: auto;
  cursor: pointer;
  padding: 5px;
  opacity: 0.9;
  margin-top: 5px;
}

.row img:hover{
  opacity: 1;
  transform: scale(1.05);
}
.placeSection{
  text-align: center;
}
.detailsSection{
  text-align: center;
  background-color: #f2f2f2;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}
@media only screen and (max-width: 900px) {
  .MainPhoto{
    width:50%;
    margin-left:25%;
    margin-right: 25%;
  }
}

#map{
  width:80%;
  margin-left:10%;
  height: 250px;
  margin-top: 10px;
}


