h3,p,label{
  color: white;
}


.warning{
  color: red;
}

.newMessage{
  text-align: center;
  background-color: #00B5DE;
  border-radius: 25px;
  width: 80%;
  margin-top: 10px;
  margin-left: 10%;
  margin-right: 10%;
}

#messageBox{
  height:100px;
  width:80%
}

input{
  margin:20px;
  max-width: 80%;
  box-sizing: border-box;
}

textarea{
  max-width: 80%;
  margin: 20px;
  max-width: 100%;
}



button{
  margin: 10px;
  animation: forwards;
  cursor: alias;
}
