.background{
  background-image: url("https://cdn.pixabay.com/photo/2015/07/02/10/10/cinque-terre-828614_1280.jpg");
  background-size: cover;
}

#background{
  background-image: url("https://cdn.pixabay.com/photo/2015/07/02/10/10/cinque-terre-828614_1280.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width:100%;
  height: 480px;
  margin-top: -10px;
  border-radius: 50px;
}


#searchForm{
  text-align: center;
  width:70%;
  margin-left: 15%;
  border-radius: 20px;
  background-color: rgba(56, 56, 56, 0.6);

}

h3{
  color:white;
  text-shadow: 0px 0px 5px black;
  font-weight: bold;
}

h2{
  color: white;
  text-stroke: 2px black;
}

label{
  color:white;
  text-shadow: 0px 0px 5px black;
  font-weight: bold;
}

input{
  margin-bottom: 10px;
  margin-left:5px;
  margin-right:10px;
}

button{
  margin-bottom: 20px;
  margin-top: 20px;
}

.mobileOnly{
  display: none;
}

@media only screen and (max-width: 1100px) {
  .mobileOnly{
    display: inline;
  }

  #background{
    height: 100%;

  }
}
