
<div *ngIf="MessageRoomLoaded === false" class="messageUsers">
  <button (click)="ShowNewMessage()" id="newMessageButton">New Message</button>
  <h2>Users In Contact</h2>
  <table>
    <tr *ngFor="let user of ContactedUsers" class="clickable" (click)="loadMessageRoom(tempUser=user)">
       <td>{{user}}</td>
    </tr>
  </table>
</div>

<div *ngIf="MessageRoomLoaded === true" class="chat">
  <button (click)="MessageRoomLoaded = false">Back to all messages</button>
  <button (click)="loadMessageRoom(tempUser)">Refresh</button>
  <ul>
    <li *ngFor="let message of Messages" class="message">
      <div [className]="'message_date'">  <label> At: {{message.date}} </label> </div>
      <label [className]="'message_username'"> {{senderName(message.senderId)}} wrote: </label>
      <div [className]="'message_text'"> <label> {{message.text}} </label> </div>
      <button (click)="deleteMessage(message.messageId)">Delete Message</button><br>
    </li>
  </ul>

  <div class="newMessage">
    <label>New message: </label>
    <input type="text" [(ngModel)]="this.chatMessage.text" required>
    <button [disabled]="this.chatMessage.text === null" (click)="sendMessage()">Send it!</button>
  </div>

</div>

<router-outlet></router-outlet>
