label,td{
  color:white;
}

.message_text{
  padding-left:1em;
  /*color: #00B5DE;*/
  font-weight: bold;
}

.message_date{
  padding-left:2em;
  color: #00B5DE;
}

.messageUsers{
  text-align: center;
}

.chat{
  width: 80%;
  margin-top: 10px;
  margin-left: 10%;
  margin-right:10%;
  background-color: #00B5DE;
}

.newMessage{
    background-color: #3DB992;
}

table{
  width: 50%;
  margin-left: 25%;
  margin-right:25%;
  margin-top: 10px;
  background-color: #00B5DE;
  table-layout: fixed;
  border: 1px solid black;
  border-collapse: collapse;
}

tr{
  border: 1px solid black;
}

.clickable{
  width:100%;
  cursor: pointer;
}

.clickable:hover{
  background-color:white;
}

.clickable:hover td{
  color: #00B5DE;
}
button{
  margin:10px;
}

#newMessageButton {
  width: 50%;
  margin-right: 25%;
  margin-left: 25%;
  color: white;
  background-color: #00B5DE;
  cursor: pointer;
}
