<button (click)="ShowNewMessage()">New Message</button>

<div *ngIf="MessageRoomLoaded === false" class="messageUsers">
  <h2>Users</h2>
  <table>
    <tr *ngFor="let user of ContactedUsers" class="clickable" (click)="loadMessageRoom(user)">
       <td>{{user}}</td>
    </tr>
  </table>
</div>

<div *ngIf="MessageRoomLoaded === true" class="chat">
  <button (click)="MessageRoomLoaded = false">Back to all messages</button>
  <ul>
    <li *ngFor="let message of Messages">
      <label> {{senderName(message.senderId)}} wrote: </label> <br>
      <div [className]="'message_text'"> <label> {{message.text}} </label> </div>
      <div [className]="'message_date'">  <label> At: {{message.date}} </label> </div>
    </li>
  </ul>
</div>

<router-outlet></router-outlet>
