label,td{
  color:white;
}

.message_text{
  padding-left:2em;
  /*color: #00B5DE;*/
  font-weight: bold;
}

.message_username{
  padding-left:1em;
}

.message_date {
  padding-left: 0.5em;
  font-size: 70%;
  font-style: italic;
}

.messageUsers{
  text-align: center;
}

.chat{
  width: 80%;
  margin-top: 10px;
  margin-left: 10%;
  margin-right:10%;
  border-style: solid;
  border-color: #3DB992;
  border-radius: 25px;
  background-image: url("src\assets\MessageRoom.jpg");
  background-position-x: 50%;
  background-attachment: fixed;
  background-size: cover;
}

.message{
  background-color: #00B5DE;
  border-radius: 20px;
  margin-right: 70%;
  margin-top: 1%;
}

.newMessage{
  background-color: #3DB992;
  border-radius: 0px 0px 20px 20px;
}

table{
  width: 50%;
  margin-left: 25%;
  margin-right:25%;
  margin-top: 10px;
  background-color: #00B5DE;
  table-layout: fixed;
  border: 1px solid black;
  border-collapse: collapse;
}

tr{
  border: 1px solid black;
}

.clickable{
  width:100%;
  cursor: pointer;
}

.clickable:hover{
  background-color:white;
}

.clickable:hover td{
  color: #00B5DE;
}
button{
  margin:10px;
}

#newMessageButton {
  width: 50%;
  margin-right: 25%;
  margin-left: 25%;
  color: white;
  background-color: #00B5DE;
  cursor: pointer;
}
