<div id="filterSection">
  <form ngNativeValidate>
    <label class="filterLabel">Minimum Cost</label><input type="number" [(ngModel)]="minPrice" name="minPrice" >
    <label class="filterLabel">Maximum Cost</label><input type="number" [(ngModel)]="maxPrice" name="maxPrice" >
    <button (click)="getFilteredPlaces()">Submit Filters</button>
  </form>
</div>

<div id="places">
  <div class="placeBox" *ngFor="let place of filteredPlaces | slice:(currentPage-1)*9 :(currentPage-1)+9;" routerLink="/places/{{place.placeId}}">
    <h3 class="title">{{place.type}} in {{place.district}}</h3>
    <img [attr.src]="GetImageUrl(place.placeId)" class="MainPhoto" />
    <p class="minPrice">Starting from <span class="priceNumber">{{place.minCost}} &euro;</span></p>
  </div>
</div>

<div id="pagination">
<button id="previousPage" (click)="previousPage()">Previous Page</button>
<div class="page">
  <span *ngFor="let test of [].constructor(numOfPages); let i = index">
    <span *ngIf="currentPage == i+1"><button class="currentPage" (click)="setPage(i+1)">{{i+1}}</button></span>
    <span *ngIf="currentPage != i+1"><button (click)="setPage(i+1)">{{i+1}}</button></span>
  </span>
</div>
<button id="nextPage" (click)="nextPage()">Next Page</button>
</div>
