#filterSection{
  width:80%;
  margin-left:10%;
  margin-right:10%;
  background-color: #f2f2f2;
  margin-bottom: 10px;
  margin-top: 10px;
  line-height: 30px;
}


.filterLabel{
  margin-right: 10px;
}

input{
  margin-right: 20px;
}

button{
  margin-right: 5px;
}


.mediaOnly{
  display: none;
}

.placeBox{
  display: inline-block;
  width:30%;
  height:400px;
  background-color: red;
  margin: 10px 1.65%;
  background-color: #00B5DE;
}

.placeBox:hover .MainPhoto {
  opacity: 1;
}

.placeBox:hover{
  cursor: pointer;
}

.title{
  text-align: center;
  color:white;

}

.MainPhoto{
  width:100%;
  height:60%;
  opacity:0.95;
}

.minPrice{
  text-align: center;
  color:white;
}

.priceNumber{
  font-size: 150%;
  font-style: italic;
}
#places{
  width:80%;
  margin-left:10%;
  margin-right:10%;
  background-color: #f2f2f2;
}

#pagination{
  text-align: center;
  margin: 10px;
}

#pagination button{
  border:none;
  outline:none;
  cursor: pointer;
}

#nextPage{
  display: inline-block;
  margin-left:10px;
}

#previousPage{
  display: inline-block;
  margin-right:10px;
}

.page{
  display: inline-block;
}

.currentPage{
  background-color: #00B5DE;
  color: white;
  border: none;
}

@media only screen and (max-width: 1100px) {

  #filterSection{
    text-align: center;
    line-height: normal;
  }

  input{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 0px;
  }

  button{
    margin-top: 10px;
    margin-right: 0px;
  }

  .mediaOnly{
    display: inline-block;
  }

  .placeBox{
    display: block;
    width:70%;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 10px;
  }

  .wideOnly{
    display: none;
  }
}
