<div id="placesBackground">
<div id="filterSection">
  <form ngNativeValidate>
    <label class="filterLabel">Minimum Cost</label><br class="mediaOnly">
    <input type="number" [(ngModel)]="minPrice" name="minPrice" ><br class="mediaOnly">
    <label class="filterLabel">Maximum Cost</label><br class="mediaOnly">
    <input type="number" [(ngModel)]="maxPrice" name="maxPrice" ><br class="mediaOnly">
    <button *ngIf="!filtersShown" (click)="showFilters()">Show More Filters</button><br class="mediaOnly">
    <button *ngIf=" filtersShown"(click)="hideFilters()">Hide Filters</button><br class="mediaOnly">
    <button (click)="getFilteredPlaces()">Submit Filters</button>
    <div *ngIf="filtersShown">
      <label class="filterLabel">Maximum Additional Cost Per Person</label><br class="mediaOnly">
      <input type="number" [(ngModel)]="additionalCostPerPerson" name="additionalCostPerPerson" ><br>
      <label class="filterLabel">Type</label><br class="mediaOnly">
      <select [(ngModel)]="type" name="type">
        <option value="null">All</option>
        <option value="Apartment">Apartment</option>
        <option value="Room">Room</option>
        <option value="Villa">Villa</option>
        <option value="Cottage">Cottage</option>
        <option value="Office">Office</option>
      </select><br class="mediaOnly"><br>
      <label class="filterLabel">Minimum Area</label><br class="mediaOnly">
      <input type="number" [(ngModel)]="minArea" name="minArea" ><br>
      <label class="filterLabel">Minimum Number Of Beds</label><br class="mediaOnly">
      <input type="number" [(ngModel)]="minNumOfBeds" name="minNumOfBeds" ><br>
      <label class="filterLabel">Minimum Number of Sleeping Rooms</label><br class="mediaOnly">
      <input type="number" [(ngModel)]="minNumOfSleepingRooms" name="minNumOfSleepingRooms" ><br class="mediaOnly">
      <div class="checkList">
        <input type="checkbox" class="checkBox" [(ngModel)]="livingRoom" name="livingRoom" > <label>Living Room</label><br class="mediaOnly">
        <input type="checkbox" class="checkBox" [(ngModel)]="wiFi" name="wiFi"><label>Wi Fi</label><br class="mediaOnly">
        <input type="checkbox" class="checkBox" [(ngModel)]="airConditioning" name="airConditioning"><label>Air Conditioning</label><br class="mediaOnly">
        <input type="checkbox" class="checkBox" [(ngModel)]="heating" name="heating"><label>Heating</label><br class="mediaOnly">
        <input type="checkbox" class="checkBox" [(ngModel)]="parking" name="parking"><label>Parking</label><br class="mediaOnly">
        <input type="checkbox" class="checkBox" [(ngModel)]="elevator" name="elevator"><label>Elevator</label><br class="mediaOnly"><br class="wideOnly">
        <input type="checkbox" class="checkBox" [(ngModel)]="petsAllowed" name="petsAllowed"><label>Pets Allowed</label><br class="mediaOnly">
        <input type="checkbox" class="checkBox"  [(ngModel)]="partiesAllowed" name="partiesAllowed"><label>Parties Allowed</label><br class="mediaOnly">
        <input type="checkbox" class="checkBox"  [(ngModel)]="smokingAllowed" name="smokingAllowed"><label>Smoking Allowed</label><br class="mediaOnly">
      </div>
    </div>
  </form>
</div>

<div id="places">
  <div class="placeBox" *ngFor="let place of filteredPlaces | slice:(currentPage-1)*9 :(currentPage-1)*9+9;let i = index;" routerLink="/places/{{place.placeId}}">
    <h3 class="title">{{place.type}} in {{place.district}}</h3>
    <img [attr.src]="GetImageUrl(place.placeId)" class="MainPhoto" />
    <p class="minPrice">Starting from <span class="priceNumber">{{place.minCost}} &euro;</span></p>
    <p  class="minPrice">Average Rating:
      <span *ngIf="averageStars[i]" class="priceNumber">{{averageStars[i]}}/5</span>
      <span *ngIf="!averageStars[i]" class="priceNumber">Not Rated</span>
    </p>
  </div>
</div>

<div id="pagination">
<button id="previousPage" (click)="previousPage()">Previous Page</button>
<div class="page">
  <span *ngFor="let test of [].constructor(numOfPages); let i = index">
    <span *ngIf="currentPage == i+1"><button class="currentPage" (click)="setPage(i+1)">{{i+1}}</button></span>
    <span *ngIf="currentPage != i+1"><button (click)="setPage(i+1)">{{i+1}}</button></span>
  </span>
</div>
<button id="nextPage" (click)="nextPage()">Next Page</button>
</div>
</div>
