<h2>Export Data</h2>

<div id="exportPanel">
  <button (click)="exportUsers()">Export Users</button><br>
  <button (click)="exportPlaces()">Export Places</button><br>
  <button (click)="exportPendingHosts()">Export Pending Hosts</button><br>
  <button (click)="exportAvailabilities()">Export Availabilities</button><br>
  <button (click)="exportMessages()">Export Messages</button><br>
  <button (click)="exportReservations()">Export Reservations</button><br>
  <button (click)="exportReviews()">Export Reviews</button><br>
  <button (click)="exportPlacePhotos()">Export Place Photos</button><br>
</div>
