#newPlaceForm{
  text-align: center;
  background-color: #00B5DE;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

.textInput ,textarea{
  width: 50%;
  max-width: 50%;
  min-width: 50%;
  margin: 5px;
}

label{
  color: white;
}
input{
  margin:5px;
  max-width: 80%;
}

button{
  margin-bottom: 5px;
}


select{
  width: 25%;
  margin: 5px;
}

.checkList{
  padding: 10px;
  text-align: left;
  width:15%;
  margin-left: 42.5%;
}

.checkList > label{

}

.checkList > input{


}

#map{
  width:80%;
  height: 300px;
  margin-left: 10%;
  margin-top: 10px;
}

#map:hover{
  cursor: crosshair;
}

@media only screen and (max-width: 900px) {
  .checkList{
    text-align: center;
    width:80%;
    margin-left: 10%;
    margin-right: 10%;
  }
}
