<h2>Registration Page</h2>

<h3>Let's get to know you</h3>

<label>First Name </label>
<input type="text"> <br>

<label>Last Name </label>
<input type="text"> <br>

<label>Username </label>
<input type="text"> <br>

<label>Email </label>
<input type="text"> <br>

<label>Phone Number </label>
<input type="text"> <br>

<button>Upload Photo</button>

<h3>Chose your secret password</h3>

<label>Password </label>
<input type="password"> <br>

<label>Retype Password </label>
<input type="password"> <br>

<h3> Chose your role (can be both😉)</h3>
<label>Tenant</label><input type="checkbox">
<label> Host</label><input type="checkbox">
<p>*Note, approval from our admins is needed in order to become a Host</p>

<button routerLink="">Register!</button>


