<h2>Registration Page</h2>

<div id="registrationForm">
  <form ngNativeValidate>

    <div class="registrationSection">
      <h3>Let's get to know you</h3>

      <label>First Name </label><br>
      <input type="text" [(ngModel)]="user.firstName" name="firstname" required> <br>

      <label>Last Name </label><br>
      <input type="text" [(ngModel)]="user.lastName" name="lastname" required> <br>

      <label>Username </label><br>
      <input type="text" [(ngModel)]="user.userName" name="username" required><br>

      <label>Email </label><br>
      <input type="text" [(ngModel)]="user.email" name="email" required><br>

      <label>Phone Number </label><br>
      <input type="tel" [(ngModel)]="user.telephone" name="telephone" required> <br>


      <input type="file" accept="image/x-png,image/gif,image/jpeg" #imageSelector style="display: none" (change)="uploadPhoto($event)">
      <button type="button" (click)="imageSelector.click()">Upload Photo</button>
      <div *ngIf="InvalidFileType" [className]="'warning'"><p> Please choose an image file such as .png .jpg .jpeg .gif</p></div>
      <div *ngIf="ImageTooLarge" [className]="'warning'"><p> The file you selected is too large (maximum file size is 10mb)</p></div>
    </div>

    <div class="registrationSection">
      <h3>Chose your secret password</h3>

      <label>Password </label><br>
      <input type="password" [(ngModel)]="user.password" name="password" required> <br>

      <label>Retype Password </label><br>
      <input type="password" [(ngModel)]="passwordVerification" name="password2" required> <br>

      <div *ngIf="smallPassword()" [className]="'warning'"><p> Password length must be at least 4 characters </p></div>

      <div *ngIf="attemptedRegistration" [className]="'warning'"><div *ngIf="!passwordMatch()">Passwords Don't Match!</div></div>
    </div>

    <div class="registrationSection">
      <h3> Chose your role (can be both😉)</h3>
      <label>Tenant</label><input type="checkbox" [(ngModel)]="user.isTenant" name="tenant">
      <label> Host</label><input type="checkbox" [(ngModel)]="user.isHost" name="host">

      <div *ngIf="user.isHost"><p>Approval from our admins is needed in order to become a Host</p></div>
    </div>

    <div *ngIf="usernameExists()" [className]="'warning'"><p>Username Exists!</p></div>
    <div *ngIf="successfulRegistration()">
      <b>Successful Registration!!, You will be redirected and logged in automagically!</b>
    </div>

    <button (click)="register()" >Register!</button>
  </form>

</div>
