.editForm{
  text-align:center;
  background-color: #00B5DE;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 10px;
}

h2{
  text-align: center;
}

#pending{
  color: black;
}

h3,h4,label{
  color: white;
  text-align: center;
}

#pending{
  color: black;
}
button{
  margin: 10px;
}

input{
  margin: 5px;
  max-width: 90%;
  box-sizing: border-box;
}

.warning{
  color: red;
}

img{
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
  padding: 10px;
}

.editSection{
  text-align: center;
}
