<h2>Places</h2>

<h3 *ngIf="places.length == 0">You Haven't Uploaded Any Places Yet</h3>

<table *ngIf="places.length!= 0" class="mainTable">
  <tr class="tableHeadingRow">
    <td class="tableHeadingData"><label>Place</label></td>
    <td class="tableHeadingData"><label>Action</label></td>
  </tr>
  <tr *ngFor="let place of places" >
    <td>{{place.type}} In {{place.address}} (ID: {{place.placeId}})</td>
    <td class="tableActions">
      <button routerLink="/editPlaces/{{place.placeId}}">Edit Place</button>
      <button routerLink="/places/{{place.placeId}}">View Place</button>
    </td>
  </tr>
</table>
