<h2>My Reservations</h2>

<h3 *ngIf="reservations.length == 0">No Reservations Yet</h3>

<table *ngIf="reservations.length!= 0">
  <tr id="heading">
    <td><label>Reservation</label></td>
    <td><label>Action</label></td>
  </tr>
  <tr *ngFor="let reservation of reservations" >
    <td>Dates: <span class="field">{{reservation.startingDate}}</span> - <span class="field">{{reservation.endingDate}}</span> <br>People: <span class="field">{{reservation.numberOfPeople}} </span> </td>
    <td class="actions">
      <button routerLink="/places/{{reservation.placeId}}">View Reserved Place</button>
      <button>Review Reserved Place</button>
    </td>
  </tr>
</table>
